
#login-trigger,
#signup a {
  padding: 15px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFAF0;
}
#login-content{
display:none;
/*display: none; is commonly used with JavaScript to
 hide and show elements without deleting and recreating them.
The <script> element use display: none; as its default. 
*/

position:absolute;
/*With absolute positioning,
 an element can be placed anywhere on a page.*/
top: 60px;
right: 5px;
z-index: 999;

/*The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an
 element with a lower stack order.*/   
  background-color:black;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 3px 5px 5px 10px #696969;
  border: 3px solid grey;
  border-radius: 3px 3px 3px 3px;
  margin:0px;
}
#input,#actions{
background-color:white;
opacity:1;
padding:15px;
margin:0px;
border-radius:5px 5px;
}
#input input{
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 5px solid #grey;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}
#input input:focus {
  background-color: yellowgreen;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/* INPUT FOCUS :The :focus selector is used to select the element that has focus.
Tip: The :focus selector is allowed on elements that accept keyboard
 events or other user inputs.*/
 #submit{
 background-color:#C13030;
 padding:10px;
 border-radius:10px;
 font-family:Arial Black, Gadget, sans-serif;
 font-size:20px;
 font-weight: bold;}