#login1{
border-right:1px solid #ddd;
box-shadow:10px 10px 10px #0072bb;
}
#login-trigger,
#signup a {
  padding: 15px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
#login-content{
display:none;
/*display: none; is commonly used with JavaScript to
 hide and show elements without deleting and recreating them.
The <script> element use display: none; as its default. 
*/

position:absolute;
/*With absolute positioning,
 an element can be placed anywhere on a page.*/

 top: 24px;
right: 0;
z-index: 999;

/*The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an
 element with a lower stack order.*/   
 background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}