body{
padding:0px;
margin:0px;
background-color: #F1F1F1;
}

#nav{
background-color:#222;
position:fixed;
width:100%;
top:0px;
z-index:1000;
/*background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);*/
}
#nav-wrapper{
width:1200px;
margin:0 auto;
text-align:left;

}
#menu{
list-style-type:none;
padding:0px;
margin:0px;}

#login1{
margin:0px;
padding:0px;
float:right;}

li{
display:inline-block;
font-family:verdana
}
li:hover{
background-color:#333;
}
a,visited{
color:#ccc; display:block; padding:15px; text-decoration:none; 
 }
 #opaque{
 position:fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 margin:10px 30px 10px 30px;
 background:#7f7f7f;
 background:rgba(255,255,255,0.5);
 z-index:99;
 background-attachment: fixed;
 opacity:0.4;
 }
 #background{
 position:fixed;
 height:auto;
 width:auto;
 background-repeat: no-repeat;
 background-attachment: fixed;
 z-index:-100;
 }
 #content{
 width:1420px;
 height:2000px;
 z-index:999;
 float:right;
 clear:both;
 margin:50px;
position:relative;
top:500px;
margin-bottom:50px;
border-radius:5px;
 background-color:#fff;
 }
 #border{
  width:1370px;
 height:1960px;
 z-index:1000;
 background-color:#fff;
top:480px;
margin-top:15px;
margin-bottom:50px;
margin-right:30px;
margin-left:20px;
border:4px dashed grey;
border-radius:15px;
box-shadow: 10px 10px 15px #888888;
 }
 #maincontent{
 margin-left:20px;
 background-color:grey;
 margin-right:20px;
 height:1000px;
 
 }
 .innerclass{
 height:auto;
 width:auto;
 background-color:#E8E8E8 ;
 margin:20px;
 border:2px dashed grey;
}
 
 #innercontent{
 background-color:white;
 height:400px;
 width:400px;
 border:none;
 display:inline-block;
 margin:8px;
 margin-left:18px;
 box-shadow:10px 10px 15px #888888;}
 
 #innercircle{
 height:150px;
 width:150px;
 margin:auto;
 border:3px solid black;
 margin-top:40px;
 border-radius:100%;
 z-index:2000;
background-color: red;
}

#innercircle  {
	-moz-animation-name: spin;
    -moz-animation-duration: 400ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);}
 
 @-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg);
			-moz-transform:background-color:blue;}
    to { -moz-transform: rotateY(360deg);
			-moz-transform:background-color:black; }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}